<%= form_for(@cafeteria) do |f| %>
  <% if @cafeteria.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cafeteria.errors.count, "error") %> prohibited this cafeteria from being saved:</h2>

      <ul>
      <% @cafeteria.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :address %><br />
    <%= f.text_field :address %>
  </div>

  <div class="field">
    <%= f.label :city %><br />
    <%= f.text_field :city %>
  </div>

  <%= f.hidden_field :lat, :value => @cafeteria.lat %>
  <%= f.hidden_field :lng, :value => @cafeteria.lng %>
  <%= f.hidden_field :city, :value => @cafeteria.city %>
  <%= f.hidden_field :address, :value => @cafeteria.address %>

  <div class="field">
    <!-- add a validation, we need at least one value -->
    <% COFFEES.keys.each do |field| %>
    <%= f.label COFFEES[field] %><br />
    <%= f.text_field field.to_sym %>
    <% end %>
  </div>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

