<!DOCTYPE html>
<html>
<head>
  <title>
    <% if content_for?(:title) %>
      <%= yield(:title) %>
    <% else %>
      CheapCoffee.gr | Cheap, near, quick
    <% end %>
  </title>
  <% if content_for?(:meta_tags) %>
    <%= yield(:meta_tags) %>
  <% end %>
  <%= stylesheet_link_tag "reset", "960" %>
  <link rel="stylesheet" href="/stylesheets/style.css" type="text/css" media="screen"  charset="utf-8">
  <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
  <%= javascript_include_tag "jquery.min", "rails", "jquery.json", "jquery.autocomplete.pack", "application" %>
  <%= csrf_meta_tag %>
</head>


<body>
	<div class="container_12">

		<div id="header">
			<h1><a href="/">Cheapcoffee.gr | Cheap, near, quick</a></h1>
			<div class="connect">
			  <% if user_signed_in? %>
    	    Hello <%= current_user.email %>
    	    <%= link_to "Sign out", destroy_user_session_path %>
    	  <% else %>
			    <%= link_to image_tag("fbConnect.jpg"), user_oauth_authorize_url(:facebook), :class => "fb-connect" %>
    	  <% end %>
			</div>
		</div>

    <div id="main">
      <%= yield %>
    </div>
		<div id="footer">
			<a href="#">About</a>
			&middot;
			<a href="#">FAQ</a>
			&middot;
			<a href="#">Contact</a>
		</div>



	</div><!-- end container -->
</body>
</html>

